sudo: false
language: node_js
node_js:
  - '6'
  - '7'



cache:
  directories:
    - "node_modules"
before_script:
  - npm install -g @angular/cli

install:
  - npm install

script:
  - ng build --prod

notifications:
  email:
    on_failure: change
    on_success: change
